.rdp {
  --rdp-cell-size: 40px;
  --rdp-accent-color: hsl(var(--primary));
  --rdp-background-color: hsl(var(--background));
  --rdp-accent-color-dark: hsl(var(--primary));
  --rdp-background-color-dark: hsl(var(--background));
  --rdp-outline: 2px solid var(--rdp-accent-color);
  --rdp-outline-selected: 3px solid var(--rdp-accent-color);
  margin: 0;
}

.rdp-button_reset {
  appearance: none;
  position: relative;
  margin: 0;
  padding: 0;
}

.rdp-button {
  border: 2px solid transparent;
}

.rdp-button[disabled] {
  opacity: 0.25;
}

.rdp-button:not([disabled]) {
  cursor: pointer;
}

.rdp-button:focus:not([disabled]) {
  color: hsl(var(--primary));
  background-color: hsl(var(--accent));
  border: var(--rdp-outline);
}

.rdp-button:hover:not([disabled]):not(.rdp-day_selected) {
  background-color: hsl(var(--accent));
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: hsl(var(--primary-foreground));
  opacity: 1;
  background-color: hsl(var(--primary));
  font-weight: 600;
}

.rdp-day_today {
  font-weight: 600;
}

.rdp-day_today:not(.rdp-day_selected) {
  border: 2px solid hsl(var(--primary));
}

.rdp-months {
  display: flex;
}

.rdp-month {
  margin: 0 1em;
}

.rdp-month:first-child {
  margin-left: 0;
}

.rdp-month:last-child {
  margin-right: 0;
}

.rdp-table {
  width: 100%;
  max-width: calc(var(--rdp-cell-size) * 7);
  border-collapse: collapse;
}

.rdp-with_weeknumber .rdp-table {
  max-width: calc(var(--rdp-cell-size) * 8);
  border-collapse: collapse;
}

.rdp-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  text-align: left;
}

.rdp-multiple_months .rdp-caption {
  position: relative;
  display: block;
  text-align: center;
}

.rdp-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0.25rem;
}

.rdp-multiple_months .rdp-caption_start .rdp-nav {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.rdp-multiple_months .rdp-caption_end .rdp-nav {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.rdp-nav_button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  padding: 0.25rem;
  border-radius: 100%;
}

.rdp-nav_button:hover:not([disabled]) {
  background-color: hsl(var(--accent));
}

.rdp-nav_button:focus:not([disabled]) {
  color: hsl(var(--primary));
  border: var(--rdp-outline);
}

.rdp-nav_icon {
  width: 16px;
  height: 16px;
}

.rdp-nav_button_next,
.rdp-nav_button_prev {
  position: absolute;
}

.rdp-nav_button_prev {
  left: 0;
}

.rdp-nav_button_next {
  right: 0;
}

.rdp-nav_button_next .rdp-nav_icon {
  transform: rotate(180deg);
}

.rdp-cell {
  width: var(--rdp-cell-size);
  height: 100%;
  text-align: center;
  font-size: 0.875rem;
}

.rdp-day {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--rdp-cell-size);
  max-width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  margin: 0;
  text-align: center;
}

.rdp-day_today:not(.rdp-day_outside) {
  font-weight: 600;
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: hsl(var(--primary-foreground));
  opacity: 1;
  background-color: hsl(var(--primary));
}

.rdp-day_outside {
  opacity: 0.4;
}

.rdp-day_disabled {
  opacity: 0.25;
}

.rdp-day_hidden {
  visibility: hidden;
}

.rdp-weeknumber {
  font-size: 0.75rem;
}

.rdp-day_today:not(.rdp-day_selected) {
  border: 2px solid hsl(var(--primary));
}

.rdp-day_range_start:not(.rdp-day_range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rdp-day_range_middle {
  border-radius: 0;
}

.rdp-day_range_middle:hover {
  border-radius: 0;
}

.rdp-day_range_start.rdp-day_range_end {
  border-radius: 100%;
}

.rdp-head_cell {
  vertical-align: middle;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  height: var(--rdp-cell-size);
  padding: 0;
  text-transform: uppercase;
  color: hsl(var(--muted-foreground));
}

.rdp-caption_label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 0.25rem;
  white-space: nowrap;
  color: hsl(var(--foreground));
  font-weight: 500;
  font-size: 0.875rem;
}

.rdp-caption_dropdowns {
  position: relative;
  display: inline-flex;
  gap: 0.5rem;
}

.rdp-caption_label {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0 0.25rem;
  white-space: nowrap;
  color: hsl(var(--foreground));
  font-weight: 500;
  font-size: 0.875rem;
}

.rdp-dropdown_year,
.rdp-dropdown_month {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.rdp-dropdown {
  appearance: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: inherit;
  opacity: 0;
  border: none;
  background-color: transparent;
  font-size: inherit;
  line-height: inherit;
}

.rdp-dropdown[disabled] {
  opacity: 0;
}

.rdp-dropdown:focus:not([disabled]) + .rdp-caption_label,
.rdp-dropdown:active:not([disabled]) + .rdp-caption_label {
  border: var(--rdp-outline);
  border-radius: 6px;
}

.rdp-dropdown_icon {
  margin: 0 0 0 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
}

.rdp-dropdown_label {
  position: relative;
  display: inline-flex;
  z-index: 1;
  align-items: center;
  margin: 0;
  padding: 0 0.25rem;
  white-space: nowrap;
  color: hsl(var(--foreground));
  font-weight: 500;
  font-size: 0.875rem;
  background-color: transparent;
  border: 0;
  border: 2px solid transparent;
  border-radius: 6px;
}

.rdp-footer {
  margin: 0.5rem;
}

.rdp-weeknumber,
.rdp-day {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.875rem;
  width: var(--rdp-cell-size);
  height: var(--rdp-cell-size);
  border-radius: 6px;
}

.rdp-day_today:not(.rdp-day_selected) {
  border: 2px solid hsl(var(--primary));
}

.rdp-day_selected,
.rdp-day_selected:focus-visible,
.rdp-day_selected:hover {
  color: hsl(var(--primary-foreground));
  opacity: 1;
  background-color: hsl(var(--primary));
}

.rdp-day_range_start:not(.rdp-day_range_end) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.rdp-day_range_end:not(.rdp-day_range_start) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.rdp-day_range_middle {
  border-radius: 0;
}

.rdp-day_range_middle:hover {
  border-radius: 0;
}

.rdp-day_range_start.rdp-day_range_end {
  border-radius: 6px;
}

